<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo-for-animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93E137461CE1BC2A0089E47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E1375F1CE1BC2B0089E47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E1376A1CE1BC2B0089E47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
