<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo-for-runtime-ivar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A71CB2C71CCB71EF00FDF11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A71CB2E01CCB71EF00FDF11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A71CB2EB1CCB71EF00FDF11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
